parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method zaporylie\\\\Vipps\\\\Endpoint\\:\\:test\\(\\)\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Endpoint.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Exceptions/VippsException.php
